.about__container {
  height: 552px;
  margin-bottom: 53px;
  position: relative;
  display: flex;
}

.about__img {
  align-self: flex-start;
}

.adout__content {
  justify-content: space-between;
  align-self:stretch;
  height: 552px;
  width: 785px;
  position: relative;
}

.about__cover {
  top: 97px;
  right: 0;
  z-index: 2;
  position: absolute;
}

.about__info {
  display: flex;
  flex-direction: column;
  top: 167px;
  height: 319px;
  right: 207px;
  max-width: 502px;
  justify-content: space-between;
  position: absolute ;
  z-index: 3;
  padding-right: 2px;
}

.title--dark {
  margin-bottom: 0;
}

.about__text{
  color: #060606;
  height: 135px;
}
