.about__container {
  height: 552px;
  margin-bottom: 53px;
  position: relative;
}

.about__img {
  position: absolute;
  left: 0;
}

.about__background, .about__content {
  display: inline-block;
}

.about__cover {
  position: absolute;
  top: 97px;
  right: 0;
  z-index: 2;
  
}

.about__info {
  position: absolute;
  z-index: 3;
  left: 435px;
  right: 202px;
  bottom: 66px;
}

.about__text{
  color: #060606;
  margin-bottom: 43px;
  padding-right: 41px;
}