.hello__container {
  display: flex;
  flex-direction: column;
  min-height: 579px;
  align-content: center;
}

.hello__title {
  font-size: 72px;
  font-weight: bold;
  margin-bottom: 24px;
  width: 511px;
}

.hello__text {
  font-size: 18px;
  margin-bottom: 31px;
  width: 511px;
}

.offers {
  margin-bottom: 120px;
}

.title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 51px;
}

.offers__list {
  display: flex;
  justify-content: space-between;
}

.offers__item {
  min-height: 449px;
  background: #fff;
  border-radius: 5px 5px 5px 5px;
  width: calc(100% / 3 - 18px);
}
.offers__item:last-child {
  margin-right: 0;
}

.offers__header {
  min-height: 144px;
}

.offers__content {
  padding: 30px 19px;
  color: #000;
}

.offers__title {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}
.offers__features {
  display: inline-flex;
  justify-content: space-between;
  width: 86%;
  margin-bottom: 24px;
}
.offers__feature {
  color: #666666;
  vertical-align: top;
  display: inline-flex;
  width: calc (100% / 2);
}

.offers__feature:last-child {
  margin-right: 0;
}

.offers__feature-icon {
  margin-right: 22px;
}


.offers__text {
  color: #303030;
  font-size: 14px;
  line-height: 21px;
  margin-bottom: 27px;
}

