.footer-container__content {
  margin-top: auto;
  border-top: 1px solid #32393bad;
}

.footer {
  padding-top: 57px;
  position: relative;
  height: 92px;
  margin-bottom: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__col {
  display: flex;
  align-items: center;
}

.footer__col--align--right {
  align-items: flex-end;
}

.contacts__desc {
  color: #9A9A9A;
  font-size: 11px;
  font-style: normal;
}

h4 {
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
}

.social__item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}

.social {
margin-right: 74px;
margin-bottom: 14px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__link {
  display: block;
  width: 36px;
  height: 36px;
  background: center center no-repeat;
}

.social__item--icon--tg:hover {
  background-image: url(../../img/t-active.png);
}

.social__item--icon--vk:hover {
  background-image: url(../../img/vk-active.png);
}

.social__item--icon--fb:hover {
  background-image: url(../../img/f-active.png);
}

.social__item--icon--inst:hover {
  background-image: url(../../img/in-active.png);
}