.pagination{
  text-align: center;
  margin-bottom: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.pagination__info {
  margin-right: 36px;
}

.pagination__list {
  display: flex;
  align-items: center;
}

.pagination__item {
  text-align: center;
  font-weight: bold;
}

.pagination__item--active .pagination__link {
  color: #F5170E;
  background: #fff
  ;
}

.pagination__item--active--red .pagination__link {
  color: #fff;
  background: #F5170E;
}

.pagination__link {
  display: block;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  position: relative;
  text-decoration: none;
  font-weight: bold;
  line-height: 32px;

}